<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripCommentMapper">
  <resultMap id="BaseResultMap" type="com.cskt.entity.ItripComment">
    <!--@mbg.generated-->
    <!--@Table itrip_comment-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="hotelId" jdbcType="BIGINT" property="hotelid" />
    <result column="productId" jdbcType="BIGINT" property="productid" />
    <result column="orderId" jdbcType="BIGINT" property="orderid" />
    <result column="productType" jdbcType="INTEGER" property="producttype" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="userId" jdbcType="BIGINT" property="userid" />
    <result column="isHavingImg" jdbcType="INTEGER" property="ishavingimg" />
    <result column="positionScore" jdbcType="INTEGER" property="positionscore" />
    <result column="facilitiesScore" jdbcType="INTEGER" property="facilitiesscore" />
    <result column="serviceScore" jdbcType="INTEGER" property="servicescore" />
    <result column="hygieneScore" jdbcType="INTEGER" property="hygienescore" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="tripMode" jdbcType="BIGINT" property="tripmode" />
    <result column="isOk" jdbcType="INTEGER" property="isok" />
    <result column="creationDate" jdbcType="TIMESTAMP" property="creationdate" />
    <result column="createdBy" jdbcType="BIGINT" property="createdby" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifydate" />
    <result column="modifiedBy" jdbcType="BIGINT" property="modifiedby" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, hotelId, productId, orderId, productType, content, userId, isHavingImg, positionScore, 
    facilitiesScore, serviceScore, hygieneScore, score, tripMode, isOk, creationDate, 
    createdBy, modifyDate, modifiedBy
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from itrip_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from itrip_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cskt.entity.ItripComment" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into itrip_comment (hotelId, productId, orderId, 
      productType, content, userId, 
      isHavingImg, positionScore, facilitiesScore, 
      serviceScore, hygieneScore, score, 
      tripMode, isOk, creationDate, 
      createdBy, modifyDate, modifiedBy
      )
    values (#{hotelid,jdbcType=BIGINT}, #{productid,jdbcType=BIGINT}, #{orderid,jdbcType=BIGINT}, 
      #{producttype,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}, #{userid,jdbcType=BIGINT}, 
      #{ishavingimg,jdbcType=INTEGER}, #{positionscore,jdbcType=INTEGER}, #{facilitiesscore,jdbcType=INTEGER}, 
      #{servicescore,jdbcType=INTEGER}, #{hygienescore,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}, 
      #{tripmode,jdbcType=BIGINT}, #{isok,jdbcType=INTEGER}, #{creationdate,jdbcType=TIMESTAMP}, 
      #{createdby,jdbcType=BIGINT}, #{modifydate,jdbcType=TIMESTAMP}, #{modifiedby,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cskt.entity.ItripComment" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into itrip_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hotelid != null">
        hotelId,
      </if>
      <if test="productid != null">
        productId,
      </if>
      <if test="orderid != null">
        orderId,
      </if>
      <if test="producttype != null">
        productType,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="ishavingimg != null">
        isHavingImg,
      </if>
      <if test="positionscore != null">
        positionScore,
      </if>
      <if test="facilitiesscore != null">
        facilitiesScore,
      </if>
      <if test="servicescore != null">
        serviceScore,
      </if>
      <if test="hygienescore != null">
        hygieneScore,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="tripmode != null">
        tripMode,
      </if>
      <if test="isok != null">
        isOk,
      </if>
      <if test="creationdate != null">
        creationDate,
      </if>
      <if test="createdby != null">
        createdBy,
      </if>
      <if test="modifydate != null">
        modifyDate,
      </if>
      <if test="modifiedby != null">
        modifiedBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hotelid != null">
        #{hotelid,jdbcType=BIGINT},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=BIGINT},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=BIGINT},
      </if>
      <if test="producttype != null">
        #{producttype,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="ishavingimg != null">
        #{ishavingimg,jdbcType=INTEGER},
      </if>
      <if test="positionscore != null">
        #{positionscore,jdbcType=INTEGER},
      </if>
      <if test="facilitiesscore != null">
        #{facilitiesscore,jdbcType=INTEGER},
      </if>
      <if test="servicescore != null">
        #{servicescore,jdbcType=INTEGER},
      </if>
      <if test="hygienescore != null">
        #{hygienescore,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="tripmode != null">
        #{tripmode,jdbcType=BIGINT},
      </if>
      <if test="isok != null">
        #{isok,jdbcType=INTEGER},
      </if>
      <if test="creationdate != null">
        #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null">
        #{createdby,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null">
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null">
        #{modifiedby,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cskt.entity.ItripComment">
    <!--@mbg.generated-->
    update itrip_comment
    <set>
      <if test="hotelid != null">
        hotelId = #{hotelid,jdbcType=BIGINT},
      </if>
      <if test="productid != null">
        productId = #{productid,jdbcType=BIGINT},
      </if>
      <if test="orderid != null">
        orderId = #{orderid,jdbcType=BIGINT},
      </if>
      <if test="producttype != null">
        productType = #{producttype,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="ishavingimg != null">
        isHavingImg = #{ishavingimg,jdbcType=INTEGER},
      </if>
      <if test="positionscore != null">
        positionScore = #{positionscore,jdbcType=INTEGER},
      </if>
      <if test="facilitiesscore != null">
        facilitiesScore = #{facilitiesscore,jdbcType=INTEGER},
      </if>
      <if test="servicescore != null">
        serviceScore = #{servicescore,jdbcType=INTEGER},
      </if>
      <if test="hygienescore != null">
        hygieneScore = #{hygienescore,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="tripmode != null">
        tripMode = #{tripmode,jdbcType=BIGINT},
      </if>
      <if test="isok != null">
        isOk = #{isok,jdbcType=INTEGER},
      </if>
      <if test="creationdate != null">
        creationDate = #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null">
        createdBy = #{createdby,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null">
        modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null">
        modifiedBy = #{modifiedby,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskt.entity.ItripComment">
    <!--@mbg.generated-->
    update itrip_comment
    set hotelId = #{hotelid,jdbcType=BIGINT},
      productId = #{productid,jdbcType=BIGINT},
      orderId = #{orderid,jdbcType=BIGINT},
      productType = #{producttype,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR},
      userId = #{userid,jdbcType=BIGINT},
      isHavingImg = #{ishavingimg,jdbcType=INTEGER},
      positionScore = #{positionscore,jdbcType=INTEGER},
      facilitiesScore = #{facilitiesscore,jdbcType=INTEGER},
      serviceScore = #{servicescore,jdbcType=INTEGER},
      hygieneScore = #{hygienescore,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      tripMode = #{tripmode,jdbcType=BIGINT},
      isOk = #{isok,jdbcType=INTEGER},
      creationDate = #{creationdate,jdbcType=TIMESTAMP},
      createdBy = #{createdby,jdbcType=BIGINT},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      modifiedBy = #{modifiedby,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>